# MacOS
.DS_Store
__MACOSX/

# Generic
*.bak
*.orig
*.tmp
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

inventory.yaml
