{% extends "base.html" %}
{% block content %}
<div class="panel">
  <h2>{{ _('Site') }}: {{ site.description }} ({{ site.name }})</h2>
  <p><strong>{{ _('Central switch') }}:</strong> {{ central.name }}</p>

  <h3>{{ _('MAC address search on central switch (Which switch has the endpoint?)') }}</h3>
  <form method="post">
    <input name="mac" placeholder="00:11:22:33:44:55 or 0011.2233.4455" style="width:40%">
    <button name="search_mac" type="submit">{{ _('Search') }}</button>
  </form>
</div>

<div class="panel">
  <h3>{{ _('Switches to choose from') }}</h3>
  <!--<form method="post">
    <select name="access_switch">
      {% for sw in access_list %}
        <option value="{{ sw.name }}">{{ sw.name }} - {{ sw.host }}</option>
      {% endfor %}
    </select>
    <button name="select_switch" type="submit">Auswählen</button>
  </form>-->
  <ul>
    {% for sw in access_list %}
      <li><a href="{{ url_for('switch_detail', site_name=site.name, name=sw.name) }}">{{ sw.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<p><a href="{{ url_for('index') }}">{{ _('Back to site selection') }}</a></p>
{% endblock %}
